# Node
node_modules/
.npm/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Env
.env
.env.*

# OS (Windows/Mac)
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Editors/IDEs
.vscode/
.idea/
*.swp

# Logs
logs/
*.log

# Build outputs
**/dist/
**/build/

# Docker
**/.docker-cache/
**/.env.docker
